body{
    overflow-x: hidden;
    width: 100%; /* Use full width */
    align-items:center;
    position: relative;
    padding-left: 10px;
     padding-right: 10px;

}

@media (max-width: 768px) {
    .hamburgerMenu {
        display: inline;
        position: relative;
        top: 20px;
        right: 60px;
    }

    body{
        overflow-x: hidden;
    }
}